* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  padding-left: 20px;
  padding-right: 20px;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsright {
  margin-left: 10px;
}

.app__header {
  padding: 20px;
  object-fit: contain;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}
.app__signUp {
  display: flex;
  flex-direction: column;
}
